<!DOCTYPE html>
<html>
<head th:replace="~{layoutBase :: head}">
</head>

<body>
	<!-- chama o fragmento relacionado a barra de navegação -->
	<div th:replace="~{layoutBase :: navbar}"></div>
	<div class="container mb-2">
		<!-- Modificar -->
		<h1>Alunos</h1>
		<table class="table table-light">
			<tr class="table-dark">
				<th></th>
				<!-- Modificar -->
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Email</th>
				<th scope="col">Curso</th>
				<th scope="col"></th>
			</tr>

			<!-- Modificar -->
			<tr th:each="aluno : ${alunos}">
				<th scope="row"></th>
				<td><span th:text="${aluno.nome}"></span></td>
				<td><span th:text="${aluno.curso}"></span></td>
				<td><span th:text="${aluno.email}"></td>
				<td>CPF<span th:text="${aluno.cpf}"></span></td>
				<td class="buttons "><a th:href="@{form/{id}(id=${aluno.cpf})}"
					th:method="get" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
					<a th:href="@{delete/{id}(id=${aluno.cpf})}" th:method="delete"
					class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
			</tr>
		</table>

		<a href="/form"><button class="btn btn-dark">Adicionar</button></a> <a href="/find"><button class="btn btn-dark">Consultar
				</button></a>

	</div>
	
	
</body>

</html>